n8n/karbon-shift-analytics-flow.json
{
  "name": "Karbon Shift Analytics + Data",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9,12,15,18 * * *" }
          ]
        }
      },
      "id": "schedule-report",
      "name": "Report Schedule (9/12/3/6 PT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9,15 * * *" }
          ]
        }
      },
      "id": "schedule-users",
      "name": "Users Schedule (9am/3pm PT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 600]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      },
      "id": "schedule-watchdog",
      "name": "VM Watchdog (30min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, -200]
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Q&A",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 1000],
      "credentials": { "telegramApi": { "id": "", "name": "Karbon Shift Bot" } }
    },

    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/act_{{ $env.META_AD_ACCOUNT_ID }}/insights",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "spend,impressions,clicks,ctr,cpc,cpm,actions,cost_per_action_type,purchase_roas,reach,frequency" },
            { "name": "date_preset", "value": "today" },
            { "name": "level", "value": "account" }
          ]
        }
      },
      "id": "fetch-meta",
      "name": "Fetch Meta Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://googleads.googleapis.com/v17/customers/{{ $env.GOOGLE_ADS_CUSTOMER_ID }}/googleAds:searchStream",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAdsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "developer-token", "value": "={{ $env.GOOGLE_ADS_DEV_TOKEN }}" },
            { "name": "login-customer-id", "value": "={{ $env.GOOGLE_ADS_MCC_ID }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "query", "value": "SELECT metrics.cost_micros, metrics.impressions, metrics.clicks, metrics.ctr, metrics.average_cpc, metrics.conversions, metrics.cost_per_conversion, metrics.conversions_value FROM customer WHERE segments.date DURING TODAY" }
          ]
        }
      },
      "id": "fetch-google-ads",
      "name": "Fetch Google Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://analyticsdata.googleapis.com/v1beta/properties/{{ $env.GA4_PROPERTY_ID }}:runReport",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAnalyticsOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"dateRanges\": [{\"startDate\": \"today\", \"endDate\": \"today\"}],\n  \"metrics\": [\n    {\"name\": \"sessions\"},\n    {\"name\": \"totalUsers\"},\n    {\"name\": \"newUsers\"},\n    {\"name\": \"bounceRate\"},\n    {\"name\": \"screenPageViews\"},\n    {\"name\": \"conversions\"}\n  ],\n  \"dimensions\": [{\"name\": \"date\"}]\n}"
      },
      "id": "fetch-ga4",
      "name": "Fetch GA4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shiftarcade.com/auth/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "username", "value": "={{ $env.SHIFTOS_USERNAME }}" },
            { "name": "password", "value": "={{ $env.SHIFTOS_PASSWORD }}" }
          ]
        }
      },
      "id": "shiftos-auth",
      "name": "ShiftOS Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.shiftarcade.com/reservations/?ordering=-created&page_size=20&created__gte={{ new Date(Date.now() - 3*60*60*1000).toISOString() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access }}" }
          ]
        }
      },
      "id": "fetch-bookings",
      "name": "Fetch Miami Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 450]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.shiftarcade.com/users/?location=db405f16-fdf8-4d01-a4eb-1b980625b360&ordering=-created&page_size=20&created__gte={{ new Date(Date.now() - 6*60*60*1000).toISOString() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $node['ShiftOS Auth'].json.access }}" }
          ]
        }
      },
      "id": "fetch-new-users",
      "name": "Fetch New Miami Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 600]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-all",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [780, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse all data sources\nconst items = $input.all();\n\n// Meta Ads\nconst metaRaw = items.find(i => i.json?.data)?.json?.data?.[0] || {};\nconst metaActions = metaRaw.actions || [];\nconst getAction = (arr, type) => (arr.find(a => a.action_type === type)?.value || '0');\nconst meta = {\n  spend: parseFloat(metaRaw.spend || 0).toFixed(2),\n  impressions: parseInt(metaRaw.impressions || 0).toLocaleString(),\n  clicks: parseInt(metaRaw.clicks || 0).toLocaleString(),\n  ctr: parseFloat(metaRaw.ctr || 0).toFixed(2),\n  cpc: parseFloat(metaRaw.cpc || 0).toFixed(2),\n  purchases: getAction(metaActions, 'purchase'),\n  leads: getAction(metaActions, 'lead'),\n  roas: (metaRaw.purchase_roas || [{ value: 'N/A' }])[0].value\n};\n\n// Google Ads\nconst gRaw = items.find(i => i.json?.results)?.json?.results?.[0]?.metrics || {};\nconst google = {\n  spend: ((parseInt(gRaw.costMicros || 0)) / 1e6).toFixed(2),\n  clicks: parseInt(gRaw.clicks || 0),\n  conversions: parseFloat(gRaw.conversions || 0).toFixed(0)\n};\n\n// GA4\nconst gaRows = items.find(i => i.json?.rows)?.json?.rows?.[0]?.metricValues || [];\nconst ga4 = {\n  sessions: parseInt(gaRows[0]?.value || 0),\n  users: parseInt(gaRows[1]?.value || 0),\n  newUsers: parseInt(gaRows[2]?.value || 0),\n  pageviews: parseInt(gaRows[4]?.value || 0),\n  conversions: parseInt(gaRows[5]?.value || 0)\n};\n\n// ShiftOS Bookings\nconst bookingsRaw = items.find(i => i.json?.results && i.json?.count !== undefined);\nconst miamiCals = ['4a0347db','46f2b5ed','730936f4','4e54fad2','33de486d','fe7c95bd','b0c11521','2656d125'];\nconst allBookings = bookingsRaw?.json?.results || [];\nconst miamiBookings = allBookings.filter(r => miamiCals.some(p => r.calendar.startsWith(p)));\n\n// ShiftOS Users\nconst usersRaw = items.find(i => i.json?.results && i.json?.results?.[0]?.email);\nconst newUsers = usersRaw?.json?.results || [];\n\nconst totalAdSpend = (parseFloat(meta.spend) + parseFloat(google.spend)).toFixed(2);\nconst now = new Date();\nconst timeStr = now.toLocaleString('en-US', { timeZone: 'America/Los_Angeles', hour: 'numeric', minute: '2-digit', hour12: true });\n\n// Build report\nlet report = `📊 <b>Karbon Shift Report — ${timeStr} PT</b>\\n\\n`;\n\nreport += `🔴 <b>META ADS</b>\\n`;\nreport += `• Spend: $${meta.spend} | ROAS: ${meta.roas}x\\n`;\nreport += `• ${meta.clicks} clicks (CTR ${meta.ctr}%) | CPC: $${meta.cpc}\\n`;\nreport += `• Purchases: ${meta.purchases} | Leads: ${meta.leads}\\n\\n`;\n\nif (parseFloat(google.spend) > 0) {\n  report += `🔵 <b>GOOGLE ADS</b>\\n`;\n  report += `• Spend: $${google.spend} | ${google.clicks} clicks | ${google.conversions} conv\\n\\n`;\n}\n\nreport += `🟢 <b>GOOGLE ANALYTICS</b>\\n`;\nreport += `• ${ga4.sessions} sessions | ${ga4.users} users (${ga4.newUsers} new)\\n`;\nreport += `• ${ga4.pageviews} pageviews | ${ga4.conversions} conversions\\n\\n`;\n\nreport += `🏎️ <b>SHIFT ARCADE MIAMI</b>\\n`;\nreport += `• New bookings (3hr): ${miamiBookings.length}\\n`;\nif (miamiBookings.length > 0) {\n  miamiBookings.slice(0, 5).forEach(b => {\n    report += `  → ${b.readonly_values.user_display_name} @ ${b.readonly_values.calendar_name}\\n`;\n  });\n}\nreport += `• New users (6hr): ${newUsers.length}\\n`;\nif (newUsers.length > 0) {\n  newUsers.slice(0, 5).forEach(u => {\n    report += `  → ${u.first_name} ${u.last_name} (${u.email})\\n`;\n  });\n}\n\nreport += `\\n💵 <b>Total Ad Spend: $${totalAdSpend}</b>`;\nif (miamiBookings.length > 0) {\n  report += `\\n📈 Cost per booking: $${(parseFloat(totalAdSpend) / miamiBookings.length).toFixed(2)}`;\n}\n\nreturn [{ json: { report, miamiBookings: miamiBookings.length, newUsers: newUsers.length, totalAdSpend } }];"
      },
      "id": "build-report",
      "name": "Build Combined Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "chatId": "6069678144",
        "text": "={{ $json.report }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-report",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1220, 300],
      "credentials": { "telegramApi": { "id": "", "name": "Karbon Shift Bot" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://karbonagency.com/api/v1/alerts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"checkType\": \"spike\"}"
      },
      "id": "check-spikes",
      "name": "Check for Spikes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 100],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Karbon API Key" } }
    },

    {
      "parameters": {
        "url": "http://178.156.254.2:5678",
        "options": { "timeout": 10000 }
      },
      "id": "ping-vm",
      "name": "Ping VM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode || 0 }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "vm-check",
      "name": "VM Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [560, -200]
    },
    {
      "parameters": {
        "chatId": "6069678144",
        "text": "🔴 <b>N8N VM DOWN</b>\n\n<code>178.156.254.2:5678</code> not responding.\n\n<code>ssh root@178.156.254.2</code>\n<code>cd /opt/n8n && docker compose up -d</code>",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "vm-alert",
      "name": "VM Down Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [780, -300],
      "credentials": { "telegramApi": { "id": "", "name": "Karbon Shift Bot" } }
    },

    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            { "leftValue": "={{ $json.message.text }}", "rightValue": "", "operator": { "type": "string", "operation": "exists" } }
          ]
        }
      },
      "id": "has-text",
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 500,\n  \"system\": \"You are Karbon AI for Shift Arcade Miami. Answer marketing questions using the data provided. HTML format for Telegram. Be concise.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Question: {{ $node['Telegram Q&A'].json.message.text }}\\n\\nPull a fresh report from Karbon to answer.\"}]\n}"
      },
      "id": "claude-ai",
      "name": "Ask Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 1000]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Telegram Q&A'].json.message.chat.id }}",
        "text": "={{ $json.content[0].text }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "reply-telegram",
      "name": "Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [780, 1000],
      "credentials": { "telegramApi": { "id": "", "name": "Karbon Shift Bot" } }
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shiftarcade.com/auth/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "username", "value": "={{ $env.SHIFTOS_USERNAME }}" },
            { "name": "password", "value": "={{ $env.SHIFTOS_PASSWORD }}" }
          ]
        }
      },
      "id": "shiftos-auth-users",
      "name": "ShiftOS Auth (Users)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.shiftarcade.com/users/?location=db405f16-fdf8-4d01-a4eb-1b980625b360&ordering=-created&page_size=20&created__gte={{ new Date(Date.now() - 6*60*60*1000).toISOString() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access }}" }
          ]
        }
      },
      "id": "fetch-users-report",
      "name": "Fetch New Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 400,\n  \"system\": \"You are Karbon AI for Shift Arcade Miami. Generate a new-users report for Telegram. Cross-reference with ad data. HTML format. Start with 👤. List each user. Under 200 words.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"New Miami users (last 6 hours): {{ $json.count }}\\n\\nUsers:\\n{{ $json.results ? $json.results.slice(0,10).map(u => u.first_name + ' ' + u.last_name + ' — ' + u.email + ' — ' + u.phone).join('\\n') : 'none' }}\\n\\nTotal Miami users: Check Karbon dashboard.\"}]\n}"
      },
      "id": "claude-users",
      "name": "Claude Analyze Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 600]
    },
    {
      "parameters": {
        "chatId": "6069678144",
        "text": "={{ $json.content[0].text }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-users-report",
      "name": "Send Users Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1000, 600],
      "credentials": { "telegramApi": { "id": "", "name": "Karbon Shift Bot" } }
    }
  ],

  "connections": {
    "Report Schedule (9/12/3/6 PT)": {
      "main": [[
        { "node": "Fetch Meta Ads", "type": "main", "index": 0 },
        { "node": "Fetch Google Ads", "type": "main", "index": 0 },
        { "node": "Fetch GA4", "type": "main", "index": 0 },
        { "node": "ShiftOS Auth", "type": "main", "index": 0 }
      ]]
    },
    "ShiftOS Auth": {
      "main": [[
        { "node": "Fetch Miami Bookings", "type": "main", "index": 0 },
        { "node": "Fetch New Miami Users", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Meta Ads": {
      "main": [[ { "node": "Merge All Data", "type": "main", "index": 0 } ]]
    },
    "Fetch Google Ads": {
      "main": [[ { "node": "Merge All Data", "type": "main", "index": 1 } ]]
    },
    "Fetch GA4": {
      "main": [[ { "node": "Merge All Data", "type": "main", "index": 2 } ]]
    },
    "Fetch Miami Bookings": {
      "main": [[ { "node": "Merge All Data", "type": "main", "index": 3 } ]]
    },
    "Fetch New Miami Users": {
      "main": [[ { "node": "Merge All Data", "type": "main", "index": 4 } ]]
    },
    "Merge All Data": {
      "main": [[ { "node": "Build Combined Report", "type": "main", "index": 0 } ]]
    },
    "Build Combined Report": {
      "main": [[
        { "node": "Send to Telegram", "type": "main", "index": 0 },
        { "node": "Check for Spikes", "type": "main", "index": 0 }
      ]]
    },

    "Users Schedule (9am/3pm PT)": {
      "main": [[ { "node": "ShiftOS Auth (Users)", "type": "main", "index": 0 } ]]
    },
    "ShiftOS Auth (Users)": {
      "main": [[ { "node": "Fetch New Users", "type": "main", "index": 0 } ]]
    },
    "Fetch New Users": {
      "main": [[ { "node": "Claude Analyze Users", "type": "main", "index": 0 } ]]
    },
    "Claude Analyze Users": {
      "main": [[ { "node": "Send Users Report", "type": "main", "index": 0 } ]]
    },

    "VM Watchdog (30min)": {
      "main": [[ { "node": "Ping VM", "type": "main", "index": 0 } ]]
    },
    "Ping VM": {
      "main": [[ { "node": "VM Down?", "type": "main", "index": 0 } ]]
    },
    "VM Down?": {
      "main": [
        [ { "node": "VM Down Alert", "type": "main", "index": 0 } ],
        []
      ]
    },

    "Telegram Q&A": {
      "main": [[ { "node": "Has Text?", "type": "main", "index": 0 } ]]
    },
    "Has Text?": {
      "main": [
        [ { "node": "Ask Claude", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Ask Claude": {
      "main": [[ { "node": "Reply", "type": "main", "index": 0 } ]]
    }
  },

  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Los_Angeles"
  },
  "tags": [
    { "name": "karbon" },
    { "name": "shift-arcade" },
    { "name": "analytics" },
    { "name": "telegram" }
  ]
}
